/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


body {
  font-family: 'Arapey', sans-serif;
  font-weight: 400;
  font-size: 16px;
/* Sets the font size to 16px */
line-height: 1.6;
/* Sets the line-height to 1.6 */
}

body {
/* background-image: url("paper.gif"); */
background-color: Honeydew;
}

h1 {
text-indent: 40px;
font-size: 30px;
font-weight: 700;
}

.h1-b {
text-indent: 0;
font-size: 30px;
font-weight: 700;
}


h2 {
font-size: 24px;
font-weight: 700;
}

h3 {
text-indent: 40px;
font-size: 18px;
font-weight: 700;
}

a {
  color: Darkcyan;
}

/*Link colors*/

a:visited {
  /* visited link */
  color: rgb(8, 147, 142);
  
}
a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: olivedrab;
}
input, texture, select, button {
  font-family: system-ui;
}



/*Button*/

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: darkcyan;
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}
.button__secondary {
  background-color: maroon;
  color: lightyellow;
}
.navigation-list__item--active {
  text-decoration: none;
}


/* Profile page  */


.page-header__item {
  float: left;
  width: 250px;
  margin-right: 40px;

}

.shadow {
      -webkit-filter: drop-shadow(0px 16px 10px darkslategray);
      -moz-filter: drop-shadow(0px 16px 10px darkslategray);
      -ms-filter: drop-shadow(0px 16px 10px darkslategray); 
      -o-filter: drop-shadow(0px 16px 10px darkslategray);
       filter: drop-shadow(0px 16px 10px darkslategray); 
      }
    

/* Profile portrait */


.profile__portrait {
  float: left;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
}



/* Rounded look */

.profile__portrait {
float: left;
width: 250px;
margin-right: 40px;
border-radius: 50%;
}

* {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}


.profile {
  max-width: 700px;
  margin: 0 auto;
}


/* Description */

.description {
     margin: 0 auto 0 100px;
}


/* Page footer */

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profile__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
}
.page-header {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 100%;
padding: 20px;
}

.page-header__item {
-webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
        flex: 0 1 200px;
}

.page-header__item:last-child {
-webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
text-align: right;
}

.navigation-list {
list-style-type: none;
}

.navigation-list li {
display: inline-block;
margin-left: 15px;
}


/* Contact page  */

.paragraph{
text-indent: 40px;
padding: 40px;
}


/* Work page */


/* Grid */

.grid__item {
background-color: rgb(255, 248, 209);
padding: 20px;
border-radius: 5%; 
}


.grid {
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 1fr;
grid-template-columns: 1fr 1fr;
/* -ms-grid-columns: 300px 300px 300px;
grid-template-columns: 300px 300px 300px; */
-ms-grid-rows: auto auto;
grid-template-rows: 300px 300px;
-ms-grid-columns: [first] 40px;
grid-template-columns: [first] 40px;

}


.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}


.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}


.grid > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}


.grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}


.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}


.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}


.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}


.grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}


.grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}


.grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.grid {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
margin: 40px;

}

.grid__item {
-webkit-filter: drop-shadow(0px 10px 10px darkslategray);
-moz-filter: drop-shadow(0px 10px 10px darkslategray);
-ms-filter: drop-shadow(0px 10px 10px darkslategray); 
-o-filter: drop-shadow(0px 10px 10px darkslategray);
 filter: drop-shadow(0px 10px 10px darkslategray); 
}



@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
          grid-gap: 10px;
          font-size: 15px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 15px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    font-size: 15px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 15px;
  }
}


/* new button stuff*/

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color:olive;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color:olive;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}




.aboutprolile {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}


/* About page  */


/*SVG change */


.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}


@-webkit-keyframes color-change {
  from {
    /*fill: #edc655; */
    fill: gold;
  }
  to {
    /*fill: #f76414; */
    fill: tomato;
  }
}


@keyframes color-change {
  from {
    /*fill: #edc655; */
    fill: gold;
  }
  to {
    /*fill: #f76414; */
    fill: tomato;
  }
}



/* Unbulleted list */

ul.no-bullet {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}


@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}


@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

.center {
  margin-left: auto;
  margin-right: auto;
}



