$primary-color: #112055;

$secondary-color: #4f9d92;

$primary-text-color: #fff;

$secondary-text-color:#000;

$primary-color-darker: darken($primary-color, 20%);

$primary-color-lighter: lighten($primary-color, 20%);

$box-shadow-default: rgba(0,0,0,0.3);

$box-shadow-hover: rgba(0,0,0,0);

%box-shared { 
padding: 10px;
border-radius: 5px;
box-shadow: 4px 3px 19px 0px $box-shadow-default;
  &:hover {
      box-shadow: 4px 3px 19px 0px $box-shadow-hover;
    }
  }

a {
  color: $primary-color;
}

a {
  color: $secondary-color;
}

.box__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    font-family: sans-serif;
  }
  
  .box-primary {
    @extend %box-shared;
    background-color: $primary-color;
    color: $primary-text-color;
  }
  
  .box-primary-lighter {
    @extend %box-shared;
    background-color: $primary-color-lighter;
    color: $primary-text-color
    
  }
  
  .box-primary-darker {
    @extend %box-shared;
    background-color: $primary-color-darker;
    color: $primary-text-color;
  }
  
  .box-secondary {
    @extend %box-shared;
    background-color: $secondary-color;
    color: $secondary-text-color;
  }